<!DOCTYPE html>
<html>
  <head>
    <title>Wrong Way</title>
    <link rel="stylesheet" href="../styles/style.css">
    <style>
      body{
        text-align: center;
      }

      div{
        height: 200px;
      }

      h1{
        background-image: linear-gradient(to bottom, grey 50%, red);
        background-clip: text;
        color: transparent;
        font-size: 100px;
        position: relative;
        line-height: 200px;
      }
    </style>
  </head>
  <body class="dark-mode">
    <div>
        <h1>404</h1>
    </div>
    <p class="text">Page not found. When you get lost the best thing to do is to find your way back <a href="../index.html">home</a></p>
  </body>
</html>
